#root {
  height: 100%;
  width: 100%;
}
.main {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-around;
}
.sidebar {
  width: 15%;
  outline: 1px solid #000;
}
.board {
  height: 85%;
  width: 85%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
section {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
header {
  height: 7%;
  outline: 1px solid #000;
}
.card,
.back-card,
.red-card,
.black-card {
  font-size: 200px;
  height: 190px;
  width: 140px;
  background-color: #f5f5f5;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  box-shadow: -2px 7px 8px 0px rgba(0,0,0,0.4);
}
.back-card {
  color: #3e3ea5;
}
.red-card {
  color: #f00;
}
.red-card:hover {
  cursor: grab;
}
.black-card {
  color: #000;
}
.black-card:hover {
  cursor: grab;
}
.stock-pile {
  width: 14%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.stock-pile:hover {
  cursor: pointer;
}
.waste-cards-area {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 14%;
}
.foundation-area {
  width: 60%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.foundation-box {
  border: 1px solid #000;
  width: 22%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.tableau-area {
  width: 90%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.tableau-pile {
  height: 100%;
  width: 145px;
  display: grid;
  justify-content: center;
  grid-auto-rows: 70px 70px 70px 70px 70px 70px 70px;
}
.upper-part {
  height: 28%;
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.lower-part {
  height: 67%;
  width: 100%;
  display: flex;
  justify-content: center;
}
.refresh-img {
  height: 50px;
  width: 50px;
}
.base-card-holder {
  height: 195px;
  width: 145px;
  background-color: #f5f5f5;
  border-radius: 15px;
  box-shadow: -2px 7px 8px 0px rgba(0,0,0,0.4);
}
.win-overlay {
  position: fixed;
  left: 35%;
  top: 20%;
  display: flex;
  width: 40%;
  height: 60%;
  z-index: 2;
  background-color: #f5f5dc;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-radius: 20px;
  box-shadow: 1px 0px 31px -6px rgba(0,0,0,0.72);
}
button {
  cursor: pointer;
  height: 80px;
  width: 150px;
  font-size: 40px;
  border-radius: 10px;
}
.win-msg {
  font-size: 50px;
  font-family: 'Merienda', cursive;
}
