solid-black-border(n) {
	border: n solid black;
}

#root {
	height: 100%;
	width: 100%;
}

.main {
	display: flex;
	width: 100%;
	height: 100%;
	justify-content: space-around;
}

.sidebar {
	width: 15%;
	outline: 1px solid black;
}

.board {
	height: 85%;
	width: 85%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	// solid-black-border(1px);
}

section {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

header {
	height: 10%;
	outline: 1px solid black;
}

.card {
	font-size: 200px;
	height: 190px;
	width: 140px;
	background-color: whitesmoke;
	display: flex;
	align-items: center;
	justify-content: center;
	// border: 1px solid blue;
	border-radius: 15px;
	box-shadow: -2px 7px 8px 0px rgba(0, 0, 0, 0.4);
}

.back-card {
	@extend .card;
	color: rgb(62, 62, 165);
}

.red-card {
	@extend .card;
	color: red;
}

.black-card {
	@extend .card;
	color: black;
}

.stock-pile {
	// solid-black-border(1px);
	width: 12%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.waste-cards-area {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 12%;
	// solid-black-border(1px);
}

.foundation-area {
	// solid-black-border(1px);
	width: 60%;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.foundation-box {
	solid-black-border(1px);
	width: 22%;
	// outline: 1px solid black;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.tableau-area {
	width: 90%;
	height: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.tableau-pile {
	height: 90%;
	display: grid;
	justify-content: center;
	grid-template-rows: repeat(8, 1fr);
	// grid-gap: 5px;
	// grid-auto-columns: 100px;
}

div:nth-child(1) {
	grid-column: 1;
	grid-row: 1 / 4;
	z-index: 1;
}

div:nth-child(2) {
	grid-column: 1;
	grid-row: 2 / 5;
	z-index: 2;
}

div:nth-child(3) {
	grid-column: 1;
	grid-row: 3 / 6;
	z-index: 3;
}

div:nth-child(4) {
	grid-column: 1;
	grid-row: 4 / 7;
	z-index: 4;
}

div:nth-child(5) {
	grid-column: 1;
	grid-row: 5 / 8;
	z-index: 5;
}

div:nth-child(6) {
	grid-column: 1;
	grid-row: 6 / 9;
	z-index: 6;
}

div:nth-child(7) {
	grid-column: 1;
	grid-row: 7 / 10;
	z-index: 7;
}

.upper-part {
	height: 30%;
	width: 100%;
	display: flex;
	justify-content: space-around;
	// solid-black-border(1px);
}

.lower-part {
	height: 65%;
	width: 100%;
	display: flex;
	justify-content: center;
	// solid-black-border(1px);
}