solid-black-border(n) {
	border: n solid black;
}

#root {
	height: 100%;
	width: 100%;
}

.main {
	display: flex;
	width: 100%;
	height: 100%;
	justify-content: space-around;
}

.sidebar {
	width: 15%;
	outline: 1px solid black;
}

.board {
	height: 85%;
	width: 85%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

section {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

header {
	height: 10%;
	outline: 1px solid black;
}

.card {
	font-size: 200px;
	height: 190px;
	width: 140px;
	background-color: whitesmoke;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 15px;
	box-shadow: -2px 7px 8px 0px rgba(0, 0, 0, 0.4);
}

.back-card {
	@extend .card;
	color: rgb(62, 62, 165);
}

.red-card {
	@extend .card;
	color: red;

	&:hover {
		cursor: grab;
	}
}

.black-card {
	@extend .card;
	color: black;

	&:hover {
		cursor: grab;
	}
}

.stock-pile {
	width: 14%;
	display: flex;
	justify-content: center;
	align-items: center;

	&:hover {
		cursor: pointer;
	}
}

.waste-cards-area {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 14%;
}

.foundation-area {
	width: 60%;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.foundation-box {
	solid-black-border(1px);
	width: 22%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.tableau-area {
	width: 90%;
	height: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.tableau-pile {
	height: 90%;
	display: grid;
	justify-content: center;
	grid-auto-rows: 70px 70px 70px 70px 70px 70px 70px minmax(0px, 190px);
}

.upper-part {
	height: 30%;
	width: 100%;
	display: flex;
	justify-content: space-around;
}

.lower-part {
	height: 65%;
	width: 100%;
	display: flex;
	justify-content: center;
}

.refresh-img {
	height: 50px;
	width: 50px;
}